<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Sistema de Moeda Estudantil</title>
<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header>
<nav style="background: #111;">
	<ul style="display: flex; flex-direction: row; justify-content: space-around; padding: 2rem; list-style: none;">
		<li><a  style="color: white;" style:hover="color: red; text-decoration: none" href="/perfilAluno">Ver perfil</a></li>
		<li><a style="color: white;" href="/list-alunos">Listar alunos</a></li>
		<li><a style="color: white;" href="/logOutAluno">LogOut</a></li>
	</ul>
</nav>
</header>
<h1>Bem Vindo</h1>
<footer>
</footer>
</body>