<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Sistema de Moeda Estudantil</title>
<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header>
<nav>
<ul><li><a href="/add-edit-aluno">Cadastrar como aluno</a></li>
<li><a  href="#">Cadastrar como empresa parceira</a></li>
<li><a href="/login">Logar</a></li>
<li><a href="/list-alunos">Listar alunos</a></li>
</ul>
</nav>
</header>
<h1>Bem Vindo</h1>
<footer>
</footer>
</body>